@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*::-moz-selection {
  background-color: grey;
  color: #3399FF;
}
*::selection {
  background-color: grey;
  color: #3399FF;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header .logo {
  width: 350px;
  padding-left: 20px;
}
.header .clientes {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px 20px;
  gap: 10px;
}
.header .clientes img {
  height: 30px;
  opacity: 0.3;
}
.header .clientes__titulo a {
  font-weight: 400;
  color: #3F3E3E;
  font-size: 16px;
  text-decoration: none;
}
.header .clientes__titulo a:hover {
  color: #3399FF;
}

.menu {
  height: 50px;
  background-color: #3399FF;
}

.imagencarrusel {
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.container .container:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.container .container:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.container .container:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.card-title {
  color: #3399FF;
  font-family: "jura", sans-serif;
  font-weight: 600;
}

.card {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.service img {
  width: 100px;
}

@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.botones {
  background-color: #3399FF;
  border: 0;
}
.botones .botones a:hover {
  opacity: 0.8;
}

.botonesDesabilitados {
  background-color: gray;
  border: 0;
}
.botonesDesabilitados .botonesDesabilitados a:hover {
  opacity: 0.8;
}

.botonesactivos {
  text-decoration: none;
  color: white;
}

.marketing {
  background-color: #ECEBE9;
  padding-bottom: 50px;
  margin-top: 100px;
}
.marketing h5 {
  text-align: center;
  font-family: "jura", sans-serif;
  color: #3399FF;
  font-weight: 600;
  padding-top: 20px;
}
.marketing p {
  text-align: center;
  padding: 0 0 0 20px;
  box-sizing: content-box;
  color: #3F3E3E;
}
.marketing .marcasfondo {
  background-color: white;
}
.marketing .marcasfondo .marcas img {
  height: 50px;
}
.marketing .marcasfondo .marcas img .marcas:hover {
  transform: scale(1.2);
}

.secciones {
  background-image: url("../Images/fondosecciones.jpg");
  -o-object-fit: cover;
     object-fit: cover;
}

.titulo_seccion {
  padding: 0px 60px 0px 60px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.titulo_seccion h1 {
  text-align: left;
  font-size: 48px;
  color: white;
  padding-top: 80px;
  font-family: "Jura", sans-serif;
}

.descripcion_seccion p {
  text-align: left;
  padding: 30px 50px 0px 50px;
  color: #3F3E3E;
  text-align: justify;
}
.descripcion_seccion h3 {
  text-align: center;
  font-size: 2rem;
  color: #2d3e50;
  font-weight: 600;
  font-family: "Jura", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-img-top-empresa {
  width: 30%;
  text-align: center;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-19 10:22:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.desplegable {
  padding: 50px;
}

.accordion {
  --bs-accordion-inner-border-radius: 0px;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0;
}

.accordion-button {
  color: white;
  background-color: #007ac1;
  height: 80px;
  border-radius: 0;
  margin: 10px;
  font-family: "Jura", sans-serif;
  font-size: 24px;
}

.accordion-item {
  border: 0px;
}

.accordion-body {
  height: auto;
}

.imagenescentradas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entrada {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-20 9:12:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
.tarjetitas {
  padding-bottom: 50px;
}

.contacto {
  width: 50rem;
  padding: 50px;
}

.cuerpo {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

.mapa {
  -webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.form-register {
  width: 400px;
  background: white;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  color: #3399FF;
}
.form-register .form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #3399FF;
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-register p .form-register a {
  color: grey;
  text-decoration: none;
}
.form-register p .form-register a:hover {
  color: #3399FF;
  text-decoration: underline;
}
.form-register p .form-register .botons {
  width: 100%;
  background: #3399FF;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.fondo__clientes {
  background-image: url("../Images/fondoclientes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.inicio {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 20px;
  gap: 10px;
}

.inicio__titulo a {
  font-weight: 400;
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.inicio__titulo a .inicio__titulo a:hover {
  color: #3399FF;
}

footer {
  background-color: #3399FF;
}
footer .pie {
  font-size: 14px;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .clientes {
    justify-content: left;
    background-color: lightgrey;
    height: 40px;
  }
  .navbar-collapse {
    background-color: #3399FF;
    width: 100%;
    padding: 0 20px 20px;
    position: absolut;
    z-index: 1;
  }
  .destacado {
    height: 80vh;
  }
  .cuerpo {
    display: block;
  }
  .contacto {
    width: 100%;
  }
  .mapa {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .mapa iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .card {
    border: 0;
  }
  .marcas {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
  }
  .clientes {
    justify-content: left;
    background-color: lightgrey;
    height: 40px;
  }
  .navbar-collapse {
    background-color: #3399FF;
    width: 100%;
    padding: 0 20px 20px;
    position: absolut;
    z-index: 1;
  }
  .destacado {
    height: 80vh;
  }
  .cuerpo {
    display: block;
  }
  .contacto {
    width: 100%;
  }
  .mapa {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .mapa iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .card {
    border: 0;
  }
  .marcas {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=styles.css.map */