.header {
    display: flex;
    justify-content: space-between;

    .logo {
        width: 350px;
        padding-left: 20px;
    }

    .clientes {
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 20px 20px;
        gap: 10px;
    
    }
    
    .clientes img {
        height: 30px;
        opacity: 0.3;
    }
    
    .clientes__titulo a {
        font-weight: 400;
        color: #3F3E3E;
        font-size: 16px;
        text-decoration: none;
    }
    
    .clientes__titulo a:hover {
    
        color:$mainColor;
    }

 
}


.menu {
    height: 50px;
    background-color: $mainColor;
}


