.form-register {
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    color: $mainColor;

    .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    
}


.controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid $mainColor;
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;


    .form-register a {
        color: grey;
        text-decoration: none;
    }
    
    .form-register a:hover {
        color:$mainColor;
        text-decoration: underline;
    }
    
    .form-register .botons {
        width: 100%;
        background: $mainColor;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }
}





.fondo__clientes {
    background-image: url("../Images/fondoclientes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.inicio {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 20px;
    gap: 10px;

}

.inicio__titulo a {
    font-weight: 400;
    color: white;
    font-size: 16px;
    text-decoration: none;


    .inicio__titulo a:hover {
        color: $mainColor;
    }
    
}


